.map__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.menubar {
  background-color: lighten($lightest-grey, 5%);
  padding: .7em 0;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
  li {
    display: inline-block;
    margin-right: 2.5em;
  }
  label {
    color: $grey;
    font-weight: $base-font-bold;
    margin-right: .6em;
  }
}

.menubar--disabled {
  text-align: center;
}

.menubar--disabled button {
  display: inline-block;
}

.disabled {
  img { opacity: 0.45; }
  pointer-events: none;
}

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: .3em 1.5em;
  letter-spacing: .3px;
  border: 1px solid $blue;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.button-base {
  color: #fff;
  background-color: $blue;
  position: relative;
  &:hover {
    background-color: darken($blue, 10%);
    border: 1px solid darken($blue, 13%);
  }
}

.menubar {
  .button-base {
    padding: .3em 1.5em .15em;
  }
}

.button--outline {
  background-color: transparent;
  border: 1px solid $blue;
  color: $darker-blue;
}

.button--secondary {
  background-color: transparent;
  color: $light-grey;
  border: 1px solid $light-grey;
  text-transform: uppercase;
  &:hover {
    border: 1px solid darken($blue, 10%);
    color: darken($blue, 10%);
  }
}

.button-redo {
  position: relative;
  padding: .3em 2.8em .15em 1.5em;
  &:after {
    position: absolute;
    content: '';
    background-image: url(../graphics/layout/arrow-right.svg);
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    display: inline-block;
    right: .8em;
    top: .6em;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  &:hover {
    background-color: darken($blue, 10%);
    color: #fff;
    border: 1px solid darken($blue, 14%);
    &:before {
      background-image: url(../graphics/layout/arrow-right--white.svg);
    }
  }
}

.button-undo {
  position: relative;
  margin-right: .8em;
  padding: .3em 1.5em .15em 2.8em;
  &:before {
    position: absolute;
    content: '';
    background-image: url(../graphics/layout/arrow-left.svg);
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
    padding-right: .5em;
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    left: .8em;
    top: .6em;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  &:hover {
    background-color: darken($blue, 10%);
    color: #fff;
    border: 1px solid darken($blue, 14%);
    &:before {
      background-image: url(../graphics/layout/arrow-left--white.svg);
    }
  }
}

.button--group {
  margin-right: 1em;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    content: '';
    background-image: url(../graphics/layout/chevron-down.svg);
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    top: .7em;
    right: .8em;
  }
}

select {
  background-color: $white;
  border: 1px solid darken($lightest-grey, 2%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .3em 1.5em .15em .8em;
  min-width: 13em;
  color: $grey;
}

.toggle__item {
  margin-bottom: 1.2em;
  @extend .clearfix;
  a {
    color: $base-grey;
  }
  &:last-of-type {
    margin-bottom: 0em;
  }
}

.showall {
  .visibility {
    background-image: url(../graphics/layout/icon-visibility2.svg);
  }
}

.toggle__all {
  .visibility {
    margin-top: .07em;
  }
}

.visibility {
  background-image: url(../graphics/layout/icon-visibility.svg);
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  margin-right: .6em;
  display: block;
  float: left;
  margin-top: .5em;
  span {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0,0,0,0);
  }
}

.line-description {
  float: left;
  width: 78%;
  line-height: 1.6em;
  color: $grey;
}

.tool-bar {
  position: absolute;
  background-color: lighten($lightest-grey, 7%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 12em;
  left: 3em;
  top: 6em;
  z-index: 5;
  padding-bottom: 2em;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, .6);
  legend {
    display: block;
    padding-top: 1em;
    color: $dark-grey;
    line-height: 1.45em;
    font-size: 1.1em;
  }
  .tools {
    padding: 1em 1.5em;
    border-bottom: 1px solid $lightest-grey;
    margin-bottom: .5em;
    .active {
      background-color: rgba(86, 216, 232, .07);
      border: 1px solid $blue;
    }
  }
  .toggle {
    padding: 1em 1.5em;
  }
}

.tool__item {
  border: 1px solid rgba(86, 216, 232, .3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin-right: .7em;
  margin-bottom: .3em;
  position: relative;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  a {
    padding: .5em;
    width: 20px;
    height: 20px;
    display: block;
  }
  img {
    width: 20px;
    height: 20px;
    display: block;
  }
  &:hover {
    background-color: rgba(86, 216, 232, .07);
    border: 1px solid lighten($blue, 5%);
  }
}

.tool--line-add {
  a {
    padding: .3em;
    width: 25px;
    height: 25px;
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.line__item {
  &:before {
    content: '';
    background-size: 2.5em 2px;
    width: 2.1em;
    height: 2px;
    display: block;
    margin-bottom: .3em;
  }
}

.line--complete {
  &:before {
    background-color: $green-completed;
  }
}

.line--incomplete {
  &:before {
    background-color: $grey-incomplete;
  }
}

.line--progress {
  &:before {
    background-color: $yellow-inprogress;
  }
}

.line--existing {
  &:before {
    background-color: $blue-existing;
  }
}

.help {
  left: 50%;
  overflow: visible;
  position: absolute;
  pointer-events: none;
  text-align: center;
  z-index: 999;
}

.help__top {
  top: -3.5em;
}

.help__bottom {
  bottom: -3.5em;
}

.help__in {
  background-color: $dark-grey;
  color: $white;
  left: -50%;
  min-width: 20px;
  padding: .5em;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
