.modal__cover {
  opacity: 0.85;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
}

.modal {
  position: fixed;
  text-align: center;
  top: 30px;
  width: 100%;
  z-index: 201;
}

.modal__inner {
  display: inline-block;
  background-color: white;
  text-align: left;
}
