.modal__cover {
  background-color: #999;
  opacity: 0.85;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  &:after {
    -moz-box-shadow: inset 0 0 10em #000;
    -webkit-box-shadow: inset 0 0 10em #000;
    box-shadow: inset 0 0 10em #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
  }
}

.modal {
  position: fixed;
  text-align: center;
  top: 30px;
  width: 100%;
  z-index: 201;
}

.modal__inner {
  display: inline-block;
  background-color: white;
  text-align: left;
}
