.modal__cover {
  background-color: #999;
  opacity: 0.85;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  &:after {
    -moz-box-shadow: inset 0 0 10em #000;
    -webkit-box-shadow: inset 0 0 10em #000;
    box-shadow: inset 0 0 10em #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
  }
}

.modal {
  position: fixed;
  text-align: center;
  top: 8em;
  width: 100%;
  z-index: 201;
}

.modal__inner {
  display: inline-block;
  background-color: white;
  text-align: left;
  padding: 3.2em 2.8em 3.5em;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
  position: relative;
  p {
    color: $grey;
    margin-top: .8em;
  }
}

.icon-close {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url(../graphics/layout/xmark.svg);
  background-size: 10px 10px;
  display: block;
  position: absolute;
  right: 1.8em;
  top: 1.5em;
  cursor: pointer;
}

.modal__files-changed {
  font-size: .86em;
  margin: 1.8em 0 3em;
  list-style-type: circle;
  padding-left: 1.5em;
  color: $base-grey;
  li {
    margin-bottom: .5em;
  }
}
