$black: #111;
$white: #FEFEFE;

$light-blue: #76EBF9;
$blue: #53D8E8;
$darkerblue: #2CB0C0;

/*  Line Colors  */
$grey-incomplete: #D1D1D1;
$green-completed: #5EED94;
$yellow-inprogress: #FFD23B;
$blue-existing: #3B9FFF;

/*  Greys  */
$dark-grey: #4A4A4A;
$grey: #635B5B;
$base-grey: #8D8484;
$light-grey: #928888;
$lightest-grey: #E8E8E8;

$base-font-color: $grey;
$base-font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-regular: 400;
$base-font-italic: 400i;
$base-font-bold: 700;